<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card" style="margin-top: 3rem;">
                <div class="card-body" style="padding: 0 !important;">
                    <!-- <h1>Contact Us Anytime</h1> -->
                    <!-- <div class="column"> -->
                        <div class="col-md-12">
                            <img src="../../../../assets/images/cars/car1.jpg" style="width: 100%;" alt="">
                        </div>
                        <div class="col-md-12" style="background-color: #eef1f8; height: 6rem;">
                            <h3 class="text-center">Luxury</h3>
                            <h2 class="text-center">Maclaren P3</h2>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" style="margin-top: 3rem;">
                <div class="card-body">
                    <h1>Contact Us Anytime</h1>
                </div>
            </div>
        </div>
    </div>
</div>