<div class="bg-image">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-title">First class car rental service</h1>
                <h1 class="lg-title-1">Rental Cars From</h1>
                <h1 class="lg-title-2">Just <span style="color: #FFD700; font-size: 4rem;"> $45/Day</span></h1>
                <div class="lg-title-3">
                    <button mat-raised-button style="margin-right: 1rem">
                        <span>Explore</span>
                    </button>
                    <button mat-raised-button>
                        Become a Host
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <img src="../../../../assets/images/background/background_image.jpg" alt=""> -->